p
{
   font-family:"sansserif";
   font-size:20px;
   color:blue;
}
   p
   {
	   text-cen:justify;
   }
   
   body{
	   
	   
   }
   
   #titre{
	   font-family:"sansserif";
   font-size:50px;
  
   }